ion-title {
  &.headerTitleH {
    margin-top: 10px;
  }
}

ion-fab {
  &.fabLang {
    margin-top: 150px;
    margin-left: 10px;
  }
  &.fabType {
    margin-top: 250px;
    margin-left: 10px;
  }
}

button {
  &.buttonH {
    background-color: #140b0b;
    height: 45px;
    color: white;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.buttonH:active {
    background-color: #080303;
  }
}

ion-footer {
  &.footerH {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    margin-bottom: 20px;
  }
}

ion-content {
  &.contentContainerH {
    background-image: linear-gradient(black, #3b0b0b);
  }
}

h4 {
  &.h4H {
    color: white;
  }
}

h2 {
  &.h2H {
    color: white;
  }
}

p {
  &.pH {
    color: white;
  }
  &.titleH {
    color: white;
    font-size: 16px;
    padding: 5px 10px;
  }
}
