ion-title {
  &.headerTitleS {
    margin-top: 10px;
  }
}

ion-footer {
  &.button-footer-bar-s {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    margin-bottom: 20px;
  }
}

ion-card-title {
  &.titleS {
    font-size: 24px;
    color: white;
  }
}

ion-content {
  &.contentContainerS {
    background-image: linear-gradient(#2e2e2e, #121010);
  }
}

ion-card {
  &.cardContainerS {
    background-color: #3b0b0b;
    height: 367.7px;
  }
}

div {
  &.descS {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

p {
  &.pTopS {
    color: white;
    padding: 2px 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    border-bottom: 1px solid #c5c5c5;
  }

  &.pBotS {
    color: white;
    padding: 2px 0;
    margin-left: 80px;
    margin-right: 80px;
    font-weight: 900px;
    font-size: 18px;
    border-bottom: 1px solid #c5c5c5;
  }
}
