ion-title {
  &.headerTitle {
    margin-top: 10px;
  }
}

ion-footer {
  &.button-footer-bar-f {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    margin-bottom: 20px;
  }
}

ion-card-title {
  &.title {
    font-size: 24px;
    color: white;
  }
}

ion-content {
  &.contentContainer {
    background-image: linear-gradient(#2e2e2e, #121010);
  }
}

ion-card {
  &.cardContainer {
    background-color: #3b0b0b;
  }
}

button {
  &.bb {
    background-color: #3b0b0b;
    height: 45px;
    color: white;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.bb:active {
    background-color: #220707;
  }
}
